@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);
@primaryColor: #66458e;
@secondaryColor: #ca4336;
@successColor: #365c9a;
@infoColor: #e96188;
@warningColor: #fac769;
@dangerColor: #b2ccd2;
@mainFont: Poppins;
@display1Font: 'Roboto', sans-serif;
@display1Size: 3.2;
@display2Font: 'Roboto', sans-serif;
@display2Size: 2;
@display5Font: 'Roboto', sans-serif;
@display5Size: 1;
@display7Font: 'Roboto', sans-serif;
@display7Size: 1;
@display4Font: 'Roboto', sans-serif;
@display4Size: 0.85;
@isPulsation: true;
@isRoundedButtons: true;
@isAnimatedOnScroll: true;
@isScrollToTopButton: false;
@btn-font-size:         .8rem;
@btn-border-radius:     3px;
@btn-padding-y:         0.719rem;
@btn-padding-x:         1.5rem;
@btn-font-size-sm:     .8rem;
@btn-border-radius-sm: 3px;
@btn-padding-y-sm:     .5rem;
@btn-padding-x-sm:     1rem;
@btn-font-size-md:      0.8rem;
@btn-border-radius-md:  3px;
@btn-padding-y-md:      0.719rem;
@btn-padding-x-md:      1.5rem;
@btn-font-size-lg:      1.2rem;
@btn-border-radius-lg:  3px;
@btn-padding-y-lg:      0.875rem;
@btn-padding-x-lg:      1.875rem;

// FONTS

body{
    font-family: @mainFont;
    font-style: normal;
    line-height: 1.5;
}
.mbr-section-title{
    font-style: normal;
    line-height: 1.2;
}
.mbr-section-subtitle{
    line-height: 1.3;
}
.mbr-text{
    font-style: normal;
    line-height: 1.6;
}

.display-1 {
    font-family: @display1Font;
    font-size: @display1Size *1rem;
}

.display-2 {
    font-family: @display2Font;
    font-size: @display2Size *1rem;
}

.display-4 {
    font-family: @display4Font;
    font-size: @display4Size *1rem;
}

.display-5 {
    font-family: @display5Font;
    font-size: @display5Size *1rem;
}

.display-7 {
    font-family: @display7Font;
    font-size: @display7Size *1rem;
}

/* ---- Fluid typography for mobile devices ---- */

/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */

@media (max-width: 768px){
    .display-1 {
        @display1Size-min: @display1Size - (@display1Size - 1) * 0.65;
        font-size: @display1Size * 0.8rem;
        font-size: ~"calc( @{display1Size-min}rem + (@{display1Size} - @{display1Size-min}) * ((100vw - 20rem) / (48 - 20)))";
        line-height: ~"calc( 1.4 * (@{display1Size-min}rem + (@{display1Size} - @{display1Size-min}) * ((100vw - 20rem) / (48 - 20))))";
	}
    .display-2 {
        @display2Size-min: @display2Size - (@display2Size - 1) * 0.65;
        font-size: @display2Size * 0.8rem;
        font-size: ~"calc( @{display2Size-min}rem + (@{display2Size} - @{display2Size-min}) * ((100vw - 20rem) / (48 - 20)))";
        line-height: ~"calc( 1.4 * (@{display2Size-min}rem + (@{display2Size} - @{display2Size-min}) * ((100vw - 20rem) / (48 - 20))))";
	}
    .display-4 {
        @display4Size-min: @display4Size - (@display4Size - 1) * 0.65;
        font-size: @display4Size * 0.8rem;
        font-size: ~"calc( @{display4Size-min}rem + (@{display4Size} - @{display4Size-min}) * ((100vw - 20rem) / (48 - 20)))";
        line-height: ~"calc( 1.4 * (@{display4Size-min}rem + (@{display4Size} - @{display4Size-min}) * ((100vw - 20rem) / (48 - 20))))";
        // & when (@display4Size=0.8){
        //     line-height:17px !important;
        // }
	}
    .display-5 {
        @display5Size-min: @display5Size - (@display5Size - 1) * 0.65;
        font-size: @display5Size * 0.8rem;
        font-size: ~"calc( @{display5Size-min}rem + (@{display5Size} - @{display5Size-min}) * ((100vw - 20rem) / (48 - 20)))";
        line-height: ~"calc( 1.4 * (@{display5Size-min}rem + (@{display5Size} - @{display5Size-min}) * ((100vw - 20rem) / (48 - 20))))";
	}
}
/* Buttons */
.button-variant(@background) {
    @color: contrast(@background, darken(@background, 50%), #ffffff, 60%);
    @border: @background;
    @active-color: @color;
    @active-border: @active-background;

    @active-background: if(
        eq(@background, @color),
        #d4d4d4,
        darken(@background, 15%)
    );
    &,
    &:active,
    &.active {
        background-color: @background !important;
        border-color: @border !important;
        color: @color !important;
	}

    &:hover,
    &:focus,
    &.focus {
        color: @active-color !important;
        background-color: @active-background !important;
        border-color: @active-border !important;
	}

    &.disabled, &:disabled {
        color: @active-color !important;
        background-color: @active-background !important;
        border-color: @active-border !important;
	}

}

.button-outline-variant(@color) {
    @active-color: contrast(@color, darken(@color, 50%), #ffffff, 60%);
    @active-background: @color;
    @new-color: if(
        eq(@color, @active-color),
        #fff,
        darken(@color, 20%)
    );
    &,
    &:active,
    &.active {
        background: none;
        border-color: @new-color;
        color: @new-color !important;
	}

    &:hover,
    &:focus,
    &.focus {
        color: @active-color !important;
        background-color: @active-background;
        border-color: @active-background;
	}

    &.disabled, &:disabled {
        color: @active-color !important;
        background-color: @active-background !important;
        border-color: @active-background !important;
	}
}
.plan-variant(@className, @color) {
    &@{className} {
        .mbr-plan-subtitle,
        .mbr-plan-price-desc {
            @max: max(red(@color), green(@color), blue(@color));
            & when (@max > 200) {
                color: lighten(@color, 40%);
			}
            & when (@max > 85) and (@max <= 200) {
                color: lighten(@color, 25%);
			}
            & when (@max > 50) and (@max <= 85) {
                color: lighten(@color, 45%);
			}
            & when (@max <= 50) {
                color: lighten(@color, 70%);
			}
		}
	}
}






.button-size(@btn-padding-y, @btn-padding-x, @btn-font-size, @btn-border-radius){
    padding: @btn-padding-y @btn-padding-x;
    border-radius: @btn-border-radius;
}

.btn {
    position: relative;
    font-weight: 500;
    border-width: 1px;
    font-style: normal;
    letter-spacing: normal;
    margin: .4rem .8rem;
    white-space: normal;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: .3s,.3s,.3s,2s;
    transition-timing-function:ease-in-out;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    word-break: break-word;

    .button-size(@btn-padding-y, @btn-padding-x, @btn-font-size, @btn-border-radius);
    .mbr-iconfont{
        font-size: 1.6rem;
	}
    &:hover,
    &:focus,
    &.active{
        &:after{
            content: '';
            border: 1px solid;
            border-color: inherit;
            width: 100%;
            height: 100%;
            transition: border-radius .3s;
            position: absolute;
            left: 0%;
            top: 0%;
            opacity: 1;
            & when (@isRoundedButtons){
                -webkit-border-radius: 100px;
                border-radius: 100px;
			}
		}
        & when (@isPulsation){
            &:after{
                -webkit-animation: 1s btn-animation linear infinite;
                animation: 1s btn-animation linear infinite;
			}
		}
	}
}
.note-popover .btn:after{
    display: none;
}
@keyframes btn-animation{
    0%{
        -webkit-transform: scale(1);
        transform: scale(1);
	}
    100%{
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        opacity: 0;
	}
}
.btn-sm {
    border: 1px solid;
    font-weight: 500;
    letter-spacing: normal;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    .button-size(@btn-padding-y-sm, @btn-padding-x-sm, @btn-font-size-sm, @btn-border-radius-sm);
}
.btn-md {
    font-weight: 500;
    letter-spacing: normal;
    margin: .4rem .8rem !important;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    .button-size(@btn-padding-y-md, @btn-padding-x-md, @btn-font-size-md, @btn-border-radius-md);
}
.btn-lg {
    font-weight: 500;
    letter-spacing: normal;
    margin: .4rem .8rem !important;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    .button-size(@btn-padding-y-lg, @btn-padding-x-lg, @btn-font-size-lg, @btn-border-radius-lg);
}

.bg-primary { background-color: @primaryColor !important; }
.bg-success { background-color: @successColor !important; }
.bg-info { background-color: @infoColor !important; }
.bg-warning { background-color: @warningColor !important; }
.bg-danger { background-color: @dangerColor !important; }

.btn-primary { .button-variant(@primaryColor); }
.btn-secondary { .button-variant(@secondaryColor); }
.btn-info { .button-variant(@infoColor); }
.btn-success { .button-variant(@successColor); }
.btn-warning { .button-variant(@warningColor); }
.btn-danger { .button-variant(@dangerColor); }
.btn-black { .button-variant(#333333); }
.btn-white { .button-variant(#ffffff);
    &,
    &:active,
    &.active {
        color: #333333 !important;
	}

    &:hover,
    &:focus,
    &.focus {
        color: #333333 !important;
	}

    &.disabled, &:disabled {
        color: #333333 !important;
	}
}

.btn-primary-outline { .button-outline-variant(@primaryColor); }
.btn-secondary-outline { .button-outline-variant(@secondaryColor); }
.btn-info-outline { .button-outline-variant(@infoColor); }
.btn-success-outline { .button-outline-variant(@successColor); }
.btn-warning-outline { .button-outline-variant(@warningColor); }
.btn-danger-outline { .button-outline-variant(@dangerColor); }
.btn-black-outline { .button-outline-variant(#333333); }
.btn-white-outline {

    &,
    &:active,
    &.active {
        background: none;
        border-color: #ffffff;
        color: #ffffff !important;
	}

    &:hover,
    &:focus,
    &.focus {
        color: #333333 !important;
        background-color: #ffffff;
        border-color: #ffffff;
	}

}

.text-primary { color: @primaryColor !important; }
.text-secondary { color: @secondaryColor !important; }
.text-success { color: @successColor !important; }
.text-info { color: @infoColor !important; }
.text-warning { color: @warningColor !important; }
.text-danger { color: @dangerColor !important; }
.text-white { color: #ffffff !important; }
.text-black { color: #000000 !important; }

a.text-primary:hover, a.text-primary:focus { color: darken(@primaryColor, 20%) !important; }
a.text-secondary:hover, a.text-secondary:focus { color: darken(@secondaryColor, 20%) !important; }
a.text-success:hover, a.text-success:focus { color: darken(@successColor, 20%) !important; }
a.text-info:hover, a.text-info:focus { color: darken(@infoColor, 20%) !important; }
a.text-warning:hover, a.text-warning:focus { color: darken(@warningColor, 20%) !important; }
a.text-danger:hover, a.text-danger:focus { color: darken(@dangerColor, 20%) !important; }
a.text-white:hover, a.text-white:focus { color: darken(#ffffff, 30%) !important; }
a.text-black:hover, a.text-black:focus { color: lighten(#000000, 30%) !important;  }

.alert-success { background-color: @successColor; }
.alert-info { background-color: @infoColor; }
.alert-warning { background-color: @warningColor; }
.alert-danger { background-color: @dangerColor; }

.mbr-section-btn a.btn:not(.btn-form) when(@isRoundedButtons) {
    border-radius: 100px;
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: .3s,.3s,.3s,.8s;
    transition-timing-function:ease-in-out;
    &:hover,
    &:focus{
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .2) !important;
	}
}

.mbr-gallery-filter li a when(@isRoundedButtons) {
    border-radius: 100px !important;
}

.mbr-gallery-filter {
    li.active .btn {
        background-color: @primaryColor;
        border-color: @primaryColor;
        color: contrast(@primaryColor, darken(@primaryColor, 45%), #ffffff, 60%);
        &:focus {
            box-shadow: none;
		}
	}
}

.nav-tabs .nav-link when(@isRoundedButtons) {
    border-radius: 100px !important;
}

.btn-form {
    border-radius: 0;
    &:hover{
        cursor: pointer;
	}
}

a, a:hover { color: @primaryColor; }

.mbr-plan-header {
    .plan-variant(~'.bg-primary', @primaryColor);
    .plan-variant(~'.bg-success', @successColor);
    .plan-variant(~'.bg-info', @infoColor);
    .plan-variant(~'.bg-warning', @warningColor);
    .plan-variant(~'.bg-danger', @dangerColor);
}

/* Scroll to top button*/
.scrollToTop_wraper when not(@isScrollToTopButton) {
    display: none;
}
#scrollToTop a when (@isScrollToTopButton) and (@isRoundedButtons){
    border-radius: 100px;
}
#scrollToTop a i{
    &:before{
        content: '';
        position: absolute;
        height: 40%;
        top: 25%;
        background: #fff;
        width: 2px;
        left: ~'calc(50% - 1px)';
	}
    &:after{
        content: '';
        position: absolute;
        display: block;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        width: 40%;
        height: 40%;
        left: 30%;
        bottom: 30%;
        -webkit-transform:rotate(135deg);
        transform:rotate(135deg);
	}
}
/* Others*/
.note-check a[data-value=Rubik]{
    font-style: normal;
}
.mbr-arrow a{
    color: #ffffff;
}
@media (max-width: 767px) {
    .mbr-arrow {
        display: none;
	}
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}

.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
  &.alert-form::after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
	}
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  .display-7;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
  .form-active &:invalid {
    border-color: red;
	}
}
.mbr-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: @primaryColor;
  border-width: 3px;
}
ul, ol, pre, blockquote {
    margin-bottom: (2.5rem - 0.1875rem);
}
pre {
    background: #f4f4f4;
    padding: 10px 24px;
    white-space: pre-wrap;
}
.inactive{
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    user-drag: none;
}
.mbr-section__comments{
    .row{
        -webkit-justify-content:center;
        justify-content:center;
	}
}

/* Forms */
.mbr-form{
    .btn{
        margin: .4rem 0;
	}
    .input-group-btn a.btn when(@isRoundedButtons){
        border-radius: 100px !important;
        &:hover{
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .2);
		}
	}
    .input-group-btn button[type="submit"] when (@isRoundedButtons) {
        border-radius: 100px !important;
        padding: 1rem 2rem;
        &:hover{
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .2);
		}
	}
}
.special-form{
      & when (@isRoundedButtons){
        border-radius: 100px !important;
	}
}

@media (max-width: 767px){
    .btn{
        font-size: .75rem !important;
        .mbr-iconfont{
            font-size: 1rem !important;
		}
	}
}

/* Social block */
.btn-social {
  font-size: 20px;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: @primaryColor;
  color: rgb(35, 35, 35);
  cursor: pointer;
  i {
    top: 0;
    line-height: 44px;
    width: 44px;
	}
  &:hover {
    color: #fff;
    background: @primaryColor;
	}
  & + .btn {
      margin-left: .1rem;
	}
  & when (@isRoundedButtons){
    border-radius: 100px;
	}
}

.input-group-btn button[type="submit"] when (@isRoundedButtons) {
    border-radius: 100px !important;
}
    .input-group-btn a.btn when (@isRoundedButtons) {
        border-radius: 100px !important;
}

/* Footer */
// .mbr-footer-content, .mbr-footer .mbr-contacts {
//     li {
//         &::before { background: @primaryColor; }
//         a:hover { color: @primaryColor; }
//     }
// }
// .footer3, .footer4 {
//     input[type="email"] when (@isRoundedButtons) {
//         border-radius: 100px !important;
//     }


// }

// /* Headers*/
// .header13, .header14{
//     .form-inline{
//         input[type="email"] when (@isRoundedButtons){
//             border-radius: 100px;
//         }
//         input[type="text"] when (@isRoundedButtons){
//             border-radius: 100px;
//         }
//         input[type="tel"] when (@isRoundedButtons){
//             border-radius: 100px;
//         }
//         a.btn when (@isRoundedButtons){
//             border-radius: 100px;
//         }
//         button when (@isRoundedButtons){
//             border-radius: 100px !important;
//         }
//     }
// }
// This  hack for summernote dropdown compatible
.note-air-layout .dropup .dropdown-menu, .note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu{
    bottom: initial !important;
}
// Hack for popper.js
html,body{
    height: auto;
    min-height: 100vh;
}
// Hack for bootstrap 4.0.0 compatible
.dropup .dropdown-toggle::after{
    display: none;
}

//formstyler
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: @primaryColor;
  color: contrast(@primaryColor, #000000, #ffffff, 60%)
}

.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: @primaryColor;
  border-bottom-color: @primaryColor;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
  color: contrast(@primaryColor, #000, #fff, 30%)!important;
  background-color:@primaryColor!important;
  box-shadow: none!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
  color: contrast(@secondaryColor, #000, #fff, 30%)!important;
    background: @secondaryColor !important;
    box-shadow: none !important
}@isPublish: true;

.cid-rsYKUH8cXK {
@paddingTop: 2;
@paddingBottom: 0;
@showTitle: false;
@showSubtitle: false;
@showTitleTab: true;
@showImages: false;
@showButtons: false;
@tabColor: #efefef;
@activeTabColor1: #00214d;
@bootstrapTabs: "3";
@uname__10: "file:///C:/Users/Arun/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-06-10_114601/assets/images/background6.jpg";
@uname__11: true;
@uname__12: #f9f9f9;
@bg-value: #f9f9f9;
@bg-type: "color";
@bg-color-value: #f9f9f9;
@bg-parallax: false;
@gradientBg: false;
@color2: #ffffff;
@overlay: true;
@overlayColor: #ffffff;
@overlayOpacity: 0.9;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
& when (@bg-type = 'color') {
  background-color: @bg-value;
  & when (@gradientBg) {
    background: linear-gradient(0deg, @bg-value, @color2);
  }
}
& when (@bg-type = 'image') {
  background-image: url(../../../@bg-value);
}
.mbr-section-title {
  color: #444444;
}
.mbr-section-subtitle {
  color: #444444;
}
.mbr-text {
  color: #444444;
}
.nav {
  border: none;
}
.nav-tabs {
  width: 100%;
  .nav-item {
    margin-bottom: 1rem;
    width: 100%;
  }
}
.card-img {
  overflow: hidden;
  border-radius: .25rem;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}
.nav-tabs .nav-link {
  display: flex;
  color: contrast(@tabColor);
  box-sizing: border-box;
  font-style: light;
  background: @tabColor;
  font-weight: 300;
  padding: 1rem 1rem;
  border-right: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  margin: 0px;
  border-radius: 0px !important;
  border-bottom: 1px solid #dee2e6;
  transition: all .3s;
  &:hover {
    background-color: @activeTabColor1;
    color: contrast(@activeTabColor1);
  }
  &.active {
    font-weight: 300;
    color: contrast(@activeTabColor1);
    font-style: light;
    background: @activeTabColor1;
  }
  span {
    margin-right: 0.5rem;
  }
}
@media (max-width: 767px) {
  .nav-item {
    display: table-row !important;
  }
}
.mbr-section-subtitle DIV {
  text-align: left;
  color: #444444;
}
.mbr-text,.mbr-section-btn {
  color: #444444;
}
.title-content {
  color: #444444;
}
P {
  color: #444444;
  text-align: left;
}
}

.cid-rsYjTs9a9n {
@paddingTop: 4;
@paddingBottom: 4;
@stylizedCounters: true;
@countersType: "default";
@counterColor: #66458e;
@gradientCounter: false;
@counterColor2: #ffa0a4;
@mark: true;
@bgColor: #ffffff;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
.counter-container {
  color: #767676;
  ul {
    margin-bottom: 0;
    li {
      margin-bottom: 1rem;
      & when (@stylizedCounters) {
        list-style: none;
        &:before {
          position: absolute;
          left: 0px;
          margin-top: -10px;
          padding-top: 3px;
          content: '';
          display: inline-block;
          text-align: center;
          margin: 5px 10px;
          line-height: 20px;
          transition: all .2s;
          color: contrast(@counterColor);
          background: @counterColor;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          & when (@gradientCounter) {
            background: linear-gradient(135deg, @counterColor, @counterColor2);
          }
          & when (@countersType = 'circle') {
            background: none;
            border: 1px solid @counterColor;
            color: @counterColor;
          }
          & when (@countersType = 'square') {
            border-radius: 0;
          }
          & when (@mark) {
            content: '✓';
          }
        }
      }
    }
  }
}
}

.cid-rsYlM3PiDr {
@paddingTop: 4;
@paddingBottom: 4;
@stylizedCounters: true;
@squareCounters: false;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
.counter-container {
  color: #767676;
  ol {
    margin-bottom: 0;
    li {
      margin-bottom: 1rem;
    }
    & when (@stylizedCounters) {
      counter-reset: myCounter;
      li {
        list-style: none;
        padding-left: .5rem;
        &:before {
          position: absolute;
          left: 0px;
          margin-top: -10px;
          counter-increment: myCounter;
          content: counter(myCounter);
          display: inline-block;
          text-align: center;
          margin: 5px 10px;
          line-height: 40px;
          transition: all .2s;
          color: contrast(@counterColor);
          background: @counterColor;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          & when (@gradientCounter) {
            background: linear-gradient(135deg, @counterColor, @counterColor2);
          }
          & when (@squareCounters) {
            border-radius: 0;
          }
        }
      }
    }
  }
}
}

.cid-rsYmgW0qQp {
@paddingTop: 4;
@paddingBottom: 4;
@stylizedCounters: false;
@countersType: "default";
@counterColor: #66458e;
@gradientCounter: false;
@counterColor2: #ffa0a4;
@mark: true;
@bgColor: #ffffff;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
background-color: @bgColor;
.counter-container {
  color: #767676;
  ul {
    margin-bottom: 0;
    li {
      margin-bottom: 1rem;
      & when (@stylizedCounters) {
        list-style: none;
        &:before {
          position: absolute;
          left: 0px;
          margin-top: -10px;
          padding-top: 3px;
          content: '';
          display: inline-block;
          text-align: center;
          margin: 5px 10px;
          line-height: 20px;
          transition: all .2s;
          color: contrast(@counterColor);
          background: @counterColor;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          & when (@gradientCounter) {
            background: linear-gradient(135deg, @counterColor, @counterColor2);
          }
          & when (@countersType = 'circle') {
            background: none;
            border: 1px solid @counterColor;
            color: @counterColor;
          }
          & when (@countersType = 'square') {
            border-radius: 0;
          }
          & when (@mark) {
            content: '✓';
          }
        }
      }
    }
  }
}
}

#custom-html-e {
/* Type valid CSS here */

div {
  padding: 80px 0;
  color: #777;
  text-align: center;
}
p {
  font-size: 60px;
  color: #777;
}}

.cid-rsYmES8Hy6 {
@paddingTop: 4;
@paddingBottom: 4;
@stylizedCounters: false;
@countersType: "default";
@counterColor: #66458e;
@showTitle: false;
@showSubtitle: false;
@showTitleTab: true;
@showImages: false;
@showButtons: false;
@tabColor: #efefef;
@activeTabColor1: #00214d;
@bootstrapTabs: "3";
@uname__12: "file:///C:/Users/Arun/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-06-10_114601/assets/images/background6.jpg";
@uname__13: true;
@uname__14: #f9f9f9;
@bg-value: #f9f9f9;
@bg-type: "color";
@bg-color-value: #f9f9f9;
@bg-parallax: false;
@gradientBg: false;
@color2: #ffffff;
@overlay: true;
@overlayColor: #ffffff;
@overlayOpacity: 0.9;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
& when (@bg-type = 'color') {
  background-color: @bg-value;
  & when (@gradientBg) {
    background: linear-gradient(0deg, @bg-value, @color2);
  }
}
& when (@bg-type = 'image') {
  background-image: url(../../../@bg-value);
}
.mbr-section-title {
  color: #444444;
}
.mbr-section-subtitle {
  color: #444444;
}
.mbr-text {
  color: #444444;
}
.nav {
  border: none;
}
.nav-tabs {
  width: 100%;
  .nav-item {
    margin-bottom: 1rem;
    width: 100%;
  }
}
.card-img {
  overflow: hidden;
  border-radius: .25rem;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}
.nav-tabs .nav-link {
  display: flex;
  color: contrast(@tabColor);
  box-sizing: border-box;
  font-style: light;
  background: @tabColor;
  font-weight: 300;
  padding: 1rem 1rem;
  border-right: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  margin: 0px;
  border-radius: 0px !important;
  border-bottom: 1px solid #dee2e6;
  transition: all .3s;
  &:hover {
    background-color: @activeTabColor1;
    color: contrast(@activeTabColor1);
  }
  &.active {
    font-weight: 300;
    color: contrast(@activeTabColor1);
    font-style: light;
    background: @activeTabColor1;
  }
  span {
    margin-right: 0.5rem;
  }
}
@media (max-width: 767px) {
  .nav-item {
    display: table-row !important;
  }
}
.mbr-section-subtitle DIV {
  text-align: left;
  color: #444444;
}
.mbr-text,.mbr-section-btn {
  color: #444444;
}
.title-content {
  color: #444444;
}
P {
  color: #444444;
  text-align: left;
}
}

.cid-rsYtKLwJ9S {
@paddingTop: 4;
@paddingBottom: 4;
@showTitle: false;
@showSubtitle: false;
@showTitleTab: true;
@showImages: false;
@showButtons: false;
@tabColor: #efefef;
@activeTabColor1: #00214d;
@bootstrapTabs: "3";
@uname__10: "file:///C:/Users/Arun/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-06-10_114601/assets/images/background6.jpg";
@uname__11: true;
@uname__12: #f9f9f9;
@bg-value: #f9f9f9;
@bg-type: "color";
@bg-color-value: #f9f9f9;
@bg-parallax: false;
@gradientBg: false;
@color2: #ffffff;
@overlay: true;
@overlayColor: #ffffff;
@overlayOpacity: 0.9;

padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
& when (@bg-type = 'color') {
  background-color: @bg-value;
  & when (@gradientBg) {
    background: linear-gradient(0deg, @bg-value, @color2);
  }
}
& when (@bg-type = 'image') {
  background-image: url(../../../@bg-value);
}
.mbr-section-title {
  color: #444444;
}
.mbr-section-subtitle {
  color: #444444;
}
.mbr-text {
  color: #444444;
}
.nav {
  border: none;
}
.nav-tabs {
  width: 100%;
  .nav-item {
    margin-bottom: 1rem;
    width: 100%;
  }
}
.card-img {
  overflow: hidden;
  border-radius: .25rem;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}
.nav-tabs .nav-link {
  display: flex;
  color: contrast(@tabColor);
  box-sizing: border-box;
  font-style: light;
  background: @tabColor;
  font-weight: 300;
  padding: 1rem 1rem;
  border-right: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  margin: 0px;
  border-radius: 0px !important;
  border-bottom: 1px solid #dee2e6;
  transition: all .3s;
  &:hover {
    background-color: @activeTabColor1;
    color: contrast(@activeTabColor1);
  }
  &.active {
    font-weight: 300;
    color: contrast(@activeTabColor1);
    font-style: light;
    background: @activeTabColor1;
  }
  span {
    margin-right: 0.5rem;
  }
}
@media (max-width: 767px) {
  .nav-item {
    display: table-row !important;
  }
}
.mbr-section-subtitle DIV {
  text-align: left;
  color: #444444;
}
.mbr-text,.mbr-section-btn {
  color: #444444;
}
.title-content {
  color: #444444;
}
P {
  color: #444444;
  text-align: left;
}
}

#custom-html-d {
/* Type valid CSS here */

div {
  padding: 40px 0;
  color: #777;
  text-align: left;
}
p {
  font-size: 60px;
  color: #777;
}}

.cid-rsYjwJ6ScB {
@fullWidth: true;
@paddingTop: 0;
@paddingBottom: 0;
@imageSize: 100;
@bgColor: #ffffff;

background: @bgColor;
& when (@fullWidth = false) {
  padding-top: (@paddingTop * 15px);
  padding-bottom: (@paddingBottom * 15px);
}
.container-fluid {
  padding: 0 3rem;
}
.image-block {
  margin: auto;
  img {
    width: 100%;
  }
  & when (@fullWidth) {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding: 0 1rem;
  }
  .image-block {
    width: 100% !important;
  }
}
}
